$screenOnlyMobileTiny: 459px;
$screenUpMobileTiny: 460px;
$screenOnlyMobile: 599px;
$screenUpTabletPortrait: 600px;
$screenUpTabletLandscape: 800px;
$screenUpDesktop: 1000px;
$screenUpDesktopHuge: 1300px;

$bg: #00aba9;
$shadowColor: #000;
$textColor: #fff;