doctype html
html(lang='en')
	include ../head/head
	body
		.page
			.page__container
				include ../content/content
				block content
		script(src='./assets/scripts/app.min.js')
		script svg4everybody();